# IDE i Systemowe
.idea/
.vscode/
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc

# Wirtualne środowisko
.venv/
.venv1/
venv/
env/

# === BAZA DANYCH (BARDZO WAŻNE) ===
# Blokujemy wysyłanie samej bazy danych na GitHuba
postgres_data/
pgadmin_data/

# === PLIKI TYMCZASOWE APLIKACJI ===
# Folder z wygenerowanymi kodami QR i zdjęciami z bramki
app/uploads/
uploads/

# Folder ze zdjęciami referencyjnymi (chyba że chcesz je trzymać na GitHubie jako przykłady - wtedy usuń tę linię)
app/reference_faces/
reference_faces/

# Blokujemy konkretne rozszerzenia w głównym katalogu (opcjonalne)
*.jpg
*.png
*.log

# === BEZPIECZEŃSTWO ===
# Plik ze zmiennymi środowiskowymi (hasła!)
.env

#kde wojtka
*.kate-swp
